

<div class = "container">

   



            <strong>Titulo:</strong>
            <td><%= @evaluation.title %> </td><br>
            <strong>Contenido:</strong>
            <td><%= @evaluation.content %> </td><br>
            
            <td><%= link_to "Download", @evaluation.attachment_url %></td><br>
         
         
      
   
   
</div>


            <div class = "container">
                <% if @gradenota != nil %>
                <p>Archivo subido, puede resubir si es necesario</p>
                <%else %>
               <p>Subir archivo para ser revisado</p>
               <% end %>
               <%= form_for(@grade, url: evaluation_grade_evaluations_path(@evaluation),html: { multipart: true } ) do |f| %>
               
              
            
            
            
            
                  <%= f.label :attachment %><br>
                  <%= f.file_field :attachment %><br>
                  <%= f.submit "Enviar", class: "btn btn-primary" %>
               <% end %>
               
            
           
                
            <td><%= link_to "Estado Evaluacion", evaluation_grade_evaluation_path(@evaluation,@gradenota)   %></td><br>
            <td><%= link_to "Courses show", course_path(@course)   %></td>
            
            </div>
            