

<div class = "container">

   



            <strong>Titulo:</strong>
            <td><%= @evaluation.title %> </td><br>
            <strong>Contenido:</strong>
            <td><%= @evaluation.content %> </td><br>
            
            <td><%= link_to "Download", @evaluation.attachment_url %></td><br>
             <% if student_user %>
            <td><%= link_to "Subir archivo para revision", new_evaluation_grade_evaluation_path(@evaluation)   %></td><br>
            <td><%= link_to "Nota", evaluation_grade_evaluation_path(@evaluation,@gradenota)   %></td><br>
            <% end%>
            <% if tutor_user %>
            <td><%= link_to "Lista de alumnos con archivos enviados", evaluation_grade_evaluations_path(@evaluation)   %></td><br>
            <% end %>
      
   
   




            <td><%= link_to "Courses show", course_path(@course)   %></td>
            
</div>
            