<div class="login">
  <div class="container">
    <div class="form">

    <h1>Registro Estudiante</h1>

    <%= form_with url: students_path do |f|  %>
    
     
    
      <%= f.text_field :nombre, :placeholder => "Nombre" %><br>
      <%= f.text_field :apellidop, :placeholder => "Apellido Paterno" %><br>
      <%= f.text_field :apellidom, :placeholder => "Apellido Materno" %><br>
      <%= f.email_field :email, :placeholder => "Email" %><br>
      <%= f.text_field :numeroTelf, :placeholder => "NumeroTelf" %><br>
      <%= f.password_field :password, :placeholder => "Password" %><br>
      <%= f.submit "Registrar", class: "btn-submit" %>
    <% end %>

  
    </div>
  </div>
</div>