<div class="container">
<div class="form">
    
<% if current_user %> 
<h3>Perfil Tutor</h3>
  <ul> 
    <strong>Nombre:</strong>
         <%= current_user.nombre %><br>

    <strong>Apellido Paterno:</strong>
         <%= current_user.apellidop %><br>
    <strong>Apellido Materno:</strong>
         <%= current_user.apellidom %><br>
    <strong>Email:</strong>
         <%= current_user.email %><br>   
    <strong>Numero de Telefono:</strong>
         <%= current_user.numeroTelf %><br>
         <td><%= link_to 'Editar', edit_tutor_path(current_user) %></td><br>
         <td><%= link_to "Log out", logout_path, method: "delete" %></td><br>
         <td><%= link_to 'Inicio', root_path %></td><br>         

  </ul> 
  <strong> Mis cursos </strong>
  
  <table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <th>Name</th>

         <th>Description</th>
         
         
         <th>Programa</th>
         
         <th>Acceso</th>

         <th> </th>
      </tr>
   </thead>
   
   <tbody>
  <% tutor_user.courses.each do |course| %>
  
   <tr>
            <td><%= course.name %></td>
            <td><%= course.descripton %></td>
            <td><%= course.program.nombrePrograma %></td>
            
            <td><%= link_to "Curso", course, class: "btn btn-primary" %></td>
            <% if tutor_user || admin %>
            <td><%= button_to "Delete",  course, method: :delete, class: "btn btn-danger" %></td>
            <% end %>
           
         </tr>
  <% end %>
  
  <tbody/>
  
  </table>
  
<% else %> 
  <ul> 
  <h1> Acceso Denegado</h1>
    <%= link_to 'Registrar usuario', new_user_path %><br>
    
    <%= link_to 'Registrar tutor', new_tutor_path %><br>
    
    <%= link_to 'Login', new_session_path %><br>
  </ul> 
<% end %>
    </div>
    </div>