<p>
  <strong>Nombre Programa:</strong>
  <%= @program.nombrePrograma %>
</p>
 
<p>
  <strong># Cursos:</strong>
  
  <%= Course.where(program_id: @program.id).count %>
  <% if tutor_user || subscribed || admin %>
  <%= link_to 'Cursos', program_courses_path(@program) %>
  <% end %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @program.description %>
</p>




<% if student_user && !subscribed %>

<%= link_to 'Subscribirse', program_subscribe_path(@program) %><br>
 
<% end%>
<%= link_to 'Index', programs_path %><br>
<td><%= link_to 'Inicio', root_path %></td><br>


