<div class="body">
    <h2> Inicio </h2>
    

     <% if current_user %>
    <%= link_to 'Programas', programs_path %><br>
    

    
    <td><%= link_to "Log out", logout_path %></td><br> 
  
      <%if tutor_user %>
        <%= link_to 'perfil tutor' , tutor_path(current_user)%><br>
      <% elsif student_user %>
        <%= link_to 'perfil estudiante', student_path(current_user)%><br>
      <% end %>
    <% else%>
      <%= link_to 'Registrar tutor', new_tutor_path %><br>
    
      <%= link_to 'Registrar Estudiante', new_student_path %><br>
      <%= link_to 'Login', login_path %><br>
    <% end %>
    
<h2> Programas </h2>
<table class = "table table-bordered table-striped">
  
<thead>
      <tr>
         <th>Nombre</th>

         <th>Description</th>
         
         <th>Modulos</th>

         <th>Precio</th>
      </tr>
   </thead>
   
<tbody>   
  <% @programs.each do |prog| %>
  <tr>
            <td><%= link_to prog.nombrePrograma, program_path(prog) %></td>
            <td><%= prog.description %></td>
            <td><%= prog.NumModulo %></td>
            <td><%= prog.amount %></td>
            
            
         </tr>
  <% end %>
</tbody>
    
</table>
</div>