

<div class = "container">

   



            <strong>Titulo:</strong>
            <td><%= @practice.title %> </td><br>
            <strong>Contenido:</strong>
            <td><%= @practice.content %> </td><br>
            
            <td><%= link_to "Download", @practice.attachment_url %></td><br>
            

            
             <% if student_user %>
            <td><%= link_to "Subir archivo para revision", new_practice_grade_practice_path(@practice)   %></td><br>
            <td><%= link_to "Nota", practice_grade_practice_path(@practice,@gradenota)   %></td><br>
            <% end%>
            <% if tutor_user %>
            <td><%= link_to "Lista de alumnos con archivos enviados", practice_grade_practices_path(@practice)   %></td><br>
            <% end %>
         
         
      
   
   




            <td><%= link_to "Courses show", course_path(@course)   %></td>
            
</div>