

<div class = "container">

   



            <strong>Titulo:</strong>
            <td><%= @practice.title %> </td><br>
            <strong>Contenido:</strong>
            <td><%= @practice.content %> </td><br>
            
            <td><%= link_to "Download", @practice.attachment_url %></td><br>
            

            
            <td><%= link_to "Courses show", course_path(@course)   %></td>
         
         
      
   
   
</div>
</div>


            <div class = "container">
                <% if @gradenota != nil %>
                <p>Archivo subido, puede resubir si es necesario</p>
                <%else %>
               <p>Subir archivo para ser revisado</p>
               <% end %>
               <%= form_for(@grade, url: practice_grade_practices_path(@practice),html: { multipart: true } ) do |f| %>
               
              
            
            
            
            
                  <%= f.label :attachment %><br>
                  <%= f.file_field :attachment %><br>
                  <%= f.submit "Enviar", class: "btn btn-primary" %>
               <% end %>
               
            
           
            <% if @gradenota != nil    %>
            <td><%= link_to "Estado Practico", practice_grade_practice_path(@practice,@gradenota)   %></td><br>
            <% end%>
            <td><%= link_to "Courses show", course_path(@course)   %></td>
            
</div>