    <%= form_for(@material, url: course_material_path(),html: { multipart: true }  )  do |f| %>
    

      <%= f.text_field :title, :placeholder => "Titulo" %><br>
      <%= f.text_field :content, :placeholder => "Contenido" %><br>
      <%= f.label :attachment %><br>
      <%= f.file_field :attachment %><br>

      <%= f.submit "Editar", class: "btn-submit" %>
    <% end %>
    <td><%= link_to "Courses show", course_path(@material.course)   %></td>